.loginModal {
    border: 5px solid #222;
    outline: 30px solid #111;
    box-sizing: content-box;
    max-width: 500px;
    animation: openLoginModal .3s cubic-bezier(0.39, 0.575, 0.565, 1)
}

.loginModal::backdrop {
    background-color: rgba(0, 0, 0, 0.9);
}

@keyframes openLoginModal {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}