.gridContainer {
    display: flex;
    gap: 1rem;
}

.gridContainerGrid {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 800px) {
    .gridContainer {
        flex-direction: column-reverse;
    }

    .wordsFound {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        max-width: 100%;
    }
}