.gridContainer {
    display: flex;
    gap: 1rem;
}

.gridContainerGrid {
    width: fit-content;
    display: flex;
    flex-direction: column;
    order: 1;
    gap: 1rem;
}

.wordsFound {
    display: flex;
    flex-direction: column;
    order: 2;
    gap: 8px;
}

.wordsFound .Word {
    animation: appear 0.5s ease-out;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.waitingRoom {
    display: flex;
    gap: 1rem;
    width: fit-content;
}

@media (max-width: 800px) {
    .gridContainer {
        flex-direction: column;
    }

    .gridContainer.padding-top {
        padding-top: 5px;
    }

    .gridContainerGrid {
        margin: 0 auto;
    }

    .wordsFound {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        max-width: 100vw;
    }

    .wordsFound .Word {
        outline-offset: 6px;
        transform: scale(0.9);
    }

    .waitingRoom {
        flex-direction: column;
    }
}