.selection {
    margin: auto;
    max-width: 800px;
    height: 100%;
    display: grid;
    place-items: center;
}

.selection h1 {
    color: rgb(253, 244, 235);
    font-size: 1.2rem;
}

.choices {
    margin-top: 70px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    outline: 30px solid #111;
    background-color: #111;
}

.choices>div {
    padding: 1rem;
    border: 10px solid #555;
}

.choices>div+div {
    border-left: none;
}

@media (max-width: 700px) {
    .choices {
        grid-template-columns: 1fr;
    }

    .choices>div+div {
        border-top: none;
        border-left: 10px solid #555;
    }
}