@font-face {
    font-family: Headline;
    /* src: url("fonts/m41.TTF"); */
    src: url("fonts/Pixel Sans Serif.ttf");
}

@font-face {
    font-family: Body;
    src: url("fonts/Pixel Sans Serif.ttf");
}

* {
    box-sizing: border-box;
}

*:focus-visible,
input[role=switch]:focus-visible::before {
    outline: 4px dotted #eee;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: dark;
}

body {
    font-family: Body, fantasy;
    background-color: #000000;
    opacity: 1;
    background-image: linear-gradient(to right, #1a1a1a, #1a1a1a 3px, #000000 3px, #000000);
    background-size: 6px 100%;
}

.margin-auto {
    margin: auto;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.padding {
    padding: 2rem;
}

.padding-top {
    padding-top: 2rem;
}

.padding-left {
    padding-left: 2rem;
}

.padding-right {
    padding-right: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Headline, fantasy;
}

small {
    display: block;
    font-size: 9px;
    line-height: 12px;
}

button {
    font-family: Body, fantasy;
    background-color: #FB4213;
    border: 2px solid #ac3416;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}

button.secondary {
    background-color: #555;
    border: 2px solid #666;
}

button.tertiary {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 12px;
}

button:disabled {
    opacity: 0.2;
}

input {
    width: 100%;
    background-color: rgba(150, 150, 150, 0.3);
    border: 4px solid #555;
    padding: 0 1rem;
    height: 42px;
    font-size: 1.2rem;
    font-family: Body, fantasy;
}

label {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label:has(input[type=radio]) {
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

label+label {
    margin-top: 20px;
}

label span {
    color: #888;
}

input:checked+span {
    color: #eee;
}

a {
    color: rgb(114, 114, 235);
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav button {
    height: 100%;
}

span,
p {
    color: #eee;
}

form[aria-busy=true] {
    opacity: 0.5;
    cursor: wait;
    animation: blink 1s ease-in-out infinite;
    pointer-events: none;
}

.blinking {
    animation: blink 1s ease-in-out infinite;
}

p.error {
    color: red;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

input[type=radio] {
    appearance: none;
    position: relative;
    min-height: 32px;
    min-width: 32px;
    max-height: 32px;
    max-width: 32px;
    cursor: pointer;
}

input[type="radio"]::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    border: 3px solid #444;
    outline: 3px solid #555;
    background-color: #444;
}

input[type=radio]:checked::after {
    background-color: #aaa;
}

input[role=switch] {
    position: relative;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    height: 32px;
    width: 62px;
    cursor: pointer;
}

input[role=switch]::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 26px;
    border: 3px solid #444;
    outline: 3px solid #555;
    background-color: #444;
}

input[role=switch]::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    border: 3px solid #777;
    background-color: #222;
    transition: left 0.25s cubic-bezier(.14, 1.54, .16, .91);
}

input[role=switch]:checked::before {
    background-color: #ac3416;
    border-color: #ac3416;
    outline-color: #FB4213;
}

input[role=switch]:checked::after {
    left: 33px;
    border: 3px solid #fff;
    background-color: #ddd;
}

input[role=switch]:disabled::before {
    background-color: #555;
    border-color: #666;
    outline-color: #666;
}

input[role=switch]:disabled::after {
    background-color: #666;
    border-color: #777;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: .5rem 1rem;
}

ul li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}